* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.img-product {
  width: 387px;
  height: 387px;
}
