* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.img-product {
  width: 387px;
  height: 387px;
}

.service-box {
  width: 489px;
  height: 135px;
}

.icon-service {
  width: 78px;
  height: 82px;
}

.img-shopping {
  width: 599px;
  height: 354.07px;
}
